/*-----------------------------------------------------------------------------------*/

/* Reset

/*-----------------------------------------------------------------------------------*/

html{
	font-family: 'Ubuntu', sans-serif;
	overflow:hidden;
}

body{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size:14px;
	overflow:hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
	text-decoration: none;
}



a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: underline;
}
a:hover, a:focus {
	color: #fff;
}
a.active{
	color:#000;
}
a.disabled {
   pointer-events: none;
   cursor: default;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	outline:none;
	text-decoration: none;
}

.special_link a{
	padding-top:5px;
	padding-bottom:5px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
	text-align: right;
}

input[placeholder], [placeholder], *[placeholder] {
   color:#666 !important;
	font-style:italic;
}

.form-control::-moz-placeholder {
	color:#666 !important;
	font-style:italic;
}



/*-----------------------------------------------------------------------------------*/

/* Colors

/*-----------------------------------------------------------------------------------*/

.blue {
	color: #feba02 !important;
}
.black {
	color: #000  !important;
}
.black_background{
	background-color:#242528 !important;
}
.black_background_transparency{
	background-color: rgba(36, 37, 41, 0.95) !important;
}
.maro_background{
	background-color:#868686 !important;
}


/*-----------------------------------------------------------------------------------*/

/* Slider

/*-----------------------------------------------------------------------------------*/


#slider-range {
	margin-top:50px;
	margin-left:1.1em;
	margin-right:1.1em;
}

.tooltips{
	position:relative;
}
.tooltips span {
  position: absolute;
  color: #000000;
  background: #FFFFFF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  padding-left:10px;
  padding-right:10px;
	top:-45px;
}
/*
.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
*/

#amountUp{
	left:0;	
}
#amountDown{
	right:0;	
}

/*-----------------------------------------------------------------------------------*/

/* General

/*-----------------------------------------------------------------------------------*/

.vcenter{
	display: table-cell;
    vertical-align: middle;
	float:none;
}

.text_align_left{
	text-align:left;
}

.text_align_right{
	text-align:right;
}

.full_height {
	height: 100%;
	position:relative;
	display:block;
}

.full_width{
	width: 100% !important;
}

.italic{
	font-style: italic;
}
.noborder{
	border:none !important;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.no_padding_left_right{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.padding_column_content{
	padding-left:15px;
	padding-right:15px;
}

.nomargin_right{
	margin-right:0 !important;
}

.horizontal_line{
	background: url("../images/horizontal-line.png") repeat-x scroll 0 5px rgba(0, 0, 0, 0);
    text-align: center !important;
    width: 100%;
    margin-bottom:0 !important;
}
.horizontal_line.white{
	background: url("../images/horizontal-line-white.png") repeat-x scroll 0 5px rgba(0, 0, 0, 0);
}
.horizontal_line span {
    background: none repeat scroll 0 0 #868686;
    padding: 0 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height:16px;
}
.horizontal_line_black{
	background: url("../images/horizontal-line.png") repeat-x scroll 0 5px rgba(0, 0, 0, 0);
    text-align: center !important;
    width: 100%;
	margin-bottom:0px !important;
}
.horizontal_line_black span {
    background: none repeat scroll 0 0 #868686;
    padding: 0 10px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height:16px;
}
.expand .horizontal_line_black span{
	background: none repeat scroll 0 0 #fff;
}

.btn-big{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding: 15px 12px;
	text-transform: uppercase;
	color: #000;
	background-color: #ffffff;
	border-color: #ffffff;
	border-radius: 0;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.btn-big:hover{
  background-color: #e0e0e0;
 padding: 15px 12px !important;
	border:none;
	outline: none;
 -moz-outline: none;
}
.btn:active, .btn.active {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
	border:none;
	outline: none;
 -moz-outline: none;
}

.form-group.short_margin_bottom{
	margin-bottom:5px !important;
}


/*-----------------------------------------------------------------------------------*/

/* Google Maps

/*-----------------------------------------------------------------------------------*/

.gmap_marker{
	
}
/*.infobox {
    background-color:#242529;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 12px;
	width:295px;
	height:151px;
	border:10px solid #242529;
	border-radius:10px;
}*/
.infobox {
    background:url('../images/bubble_map.png') no-repeat;
	width:291px;
	height:163px;
	color:#fff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 12px;
	padding:10px;
}
.infobox td{
	vertical-align:top;
}
.infobox .text{
	padding:10px;
	padding-right:0;
}
.infobox .btn-default{
	padding:0 5px 0 5px;
	margin-top:25px;
}
.infobox .btn-default:hover{
	padding:1px 6px 1px 6px !important;
}
.infobox h1{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	margin-top:0px;
}
.map {
	width: 100%;
    height: 100%;
    margin: 0;
}


/*-----------------------------------------------------------------------------------*/

/* Bootstrap

/*-----------------------------------------------------------------------------------*/

.navbar{
	z-index:9999;
	margin-bottom:0;
	display:none;
}
.navbar-nav{
	margin-top:0;
}
.navbar-toggle{
	margin-top:30px;
}
.navbar-default .navbar-toggle{
	border:none;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#feba02;
}
.navbar-toggle .icon-bar{
	width:50px;
	height:4px;
	border-radius:2px;
	margin-bottom:8px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color:#fff;
	color:#000;
}

.fa {
	margin-top:-5px;
	margin-right:2px;
}

.form-horizontal .form-group{
	margin-left: 0px;
	margin-right: 0px;
}

.form-control{
	border-radius: 0px;
	box-shadow: none !important;
	color:#454545;
	border: none;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.main_nav > li > a{
	-webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
	text-decoration:none;
}
.main_nav > li > a span{
	-webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}
.main_nav > li > a:hover, .main_nav > li > a:focus{
	background:none;
	color: #feba02;
	text-decoration:none;
}
.main_nav > li > a:hover span.blue, .main_nav > li > a:focus span.blue{
	color:#fff;
}


/*-----------------------------------------------------------------------------------*/

/* jQuery UI

/*-----------------------------------------------------------------------------------*/

.datepicker{
	1position:absolute;
	1left: 0;
	1z-index:999;
}



/*-----------------------------------------------------------------------------------*/

/* Forms

/*-----------------------------------------------------------------------------------*/

.custom_form .form-group{
	margin-bottom:10px;
}
.custom_form .has-feedback .form-control-feedback{
	height:40px;
	line-height:40px;
}
.custom_form .short_padding{
	padding-left:2px;
	padding-right:2px;
}
.custom_form .short_padding:first-child{
	padding-left:0px;
}
.custom_form .short_padding:last-child{
	padding-right:0px;
}
.custom_form .row_form{
	height:40px;
	margin-bottom:10px;
	clear:both;
}
.custom_form .form-control{
	line-height: 14px;
}
.custom_form label.input_label{
	background-color:#fff;
	color:#000;
	height: 40px;
	line-height: 25px;
}
.custom_form textarea{
	height:100px;
}
.custom_form .form-control-feedback{
	right: 0 !important;
	color: #454545;
}
.custom_form .has-error .form-control-feedback{
	color: #e74b4c;
}
.custom_form .has-success .form-control-feedback{
	color: #05ca73;
}
.custom_form .control-label{
	text-align:left; 
	padding-left: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #000;
}
.custom_form label{
	text-align:left; 
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
.custom_form label.active{
	color:#feba02 !important;
}
.custom_form .radio-inline, .custom_form .checkbox-inline{
	padding-left:0px;
	margin-bottom:15px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	color:#fff;
	float:left;
}

.extra_services .custom_form .radio-inline, .custom_form .checkbox-inline{
	font-size: 16px;
}
.extra_services hr{
	margin-top:20px !important;
}

.custom_form input[type="text"]{
	height:40px;
	color:#000 !important;
	font-style:normal;
	
}
.custom_form input[type="checkbox"], .custom_form input[type="radio"] {
	height: 1px;
    opacity: 0;
    position: absolute;
    width: 1px;
}
.custom_form input[type="radio"]:checked ~ .check:after{
	font-family:'FontAwesome';
	background-color: #feba02;
    content: "\f00c" !important;
    display: block;
    height: 15px;
    margin: 0px;
    width: 15px;
	margin-top:-1px;
	margin-left:-1px;
	color:#fff;
}
.custom_form input[type="checkbox"]:checked ~ .check:after{	
	font-family:'FontAwesome';
	background-color: #feba02;
   	content: "\f00c" !important;
    display: block;
    height: 15px;
    margin: 0px;
    width: 15px;
	margin-top:-1px;
	margin-left:-1px;
	color:#fff;
	line-height:17px;
}
.custom_form .check {
    background-color: #FFFFFF;
    display: inline-block;
    height: 14px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 14px;
	margin-top:-3px;
}
.custom_from .options_list{
	text-align:left;
	width: 130px;
}
.custom_form .options_list .title{
	font-weight: 300;
	font-size:18px;
	display:block;
	margin-bottom:6px;
}
.custom_form .options_list .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
	margin-left:0;
	display:block;
	padding-top:0;
}
.custom_form .ui-widget-content{
	background-color:#fff;
	border-radius:0;
}
.custom_form .ui-widget-header{
	background-color:#fff;
}
.custom_form .ui-slider-horizontal .ui-slider-range.ui-widget-header{
	background-color:#000;
}
.custom_form .proceed_button{
	margin-top:20px;
}

.custom_form .radio-inline.disabled {
    1opacity: 0.6;
    color:#feba02;
    cursor:default;
}
.custom_form .radio-inline.disabled .check:after{	
	font-family:'FontAwesome';
	background-color: #868686;
   	content: "\f00c" !important;
    display: block;
    height: 15px;
    margin: 0px;
    width: 15px;
	margin-top:-1px;
	margin-left:-1px;
	color:#feba02;
	line-height:17px;
	1opacity: 0.6;
	cursor:default;
}

.custom_input_slide{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	width:100%;
	height:90px;
	background-color:#fff;
	padding:10px;
	float:left;
	margin-bottom:9px;
	text-align:left;
}
.custom_input_slide.small{
	height:40px;
}
.custom_input_slide.last{
	margin-right:0px;
}
.custom_input_slide a{
	font-size: 14px;
	line-height:16px;
	color: #000;
	margin:0;
}
.custom_input_slide .box_title{
	font-size: 14px;
	line-height:16px;
	color: #000;
	margin:0;
}
.custom_input_slide.small .box_title{
	margin-right:20px;
}

.custom_input_slide .detail_button{
	color:#666 !important;
}
.custom_form .room_description{
	background-color:#fff;
	padding:5px;
}

.custom_input_slide_content{
	width:95px;
	display:block;
	margin:0 auto;
	margin-top:7px;
}

.custom_input_slide_content.center{
	width:110px;
	margin:0 auto;
}
.custom_input_slide_content.small{
	width:100px;
	margin:0 auto;
	margin-top:-10px !important;
}
.custom_input_slide_content .fa{
	font-size:30px;
	color: #000;
	margin:0;
	padding:5px;
}

.custom_input_slide_content .number_big{
	font-size:44px;
	line-height:47px;
	font-weight: 400;
	color: #000;
}
.custom_input_slide_content.small .number_big{
	font-size:30px;
	line-height:30px;
}
.custom_input_slide_content .number_small{
	font-size:18px;
	line-height:18px;
	font-weight: 400;
	color: #000;
	text-align:left;
	margin-top:5px;
}
.custom_input_slide_content .number_small p{
	margin:0;
}
.custom_input_slide_content .arrow_left{
	margin-top:5px !important;
	margin-right:5px !important;
}
.custom_input_slide_content .arrow_right{
	margin-top:5px !important;
	margin-left:5px !important;
}
.custom_input_slide_content.small .arrow_left{
	margin-top:-4px !important;
}
.custom_input_slide_content.small .arrow_right{
	margin-top:-4px !important;
}






/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
	width:100%;
	border-radius:0;
	overflow: hidden;
    padding: 0;
    margin: 0;
	height:40px;
}

.custom-dropdown select {
  background-color: #fff;
  color: #000;
  font-size: inherit;
  padding: .37em;
  padding-right: 5em;	
  border: 0;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
	-moz-appearance: none;
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
	border-radius:0;
	width: 125%;
	height:40px;
	-webkit-appearance:none;
	outline:none;
	box-shadow:none;
	cursor:pointer;
}
.custom_input_slide .custom-dropdown select{
	background-color: transparent;
}
select::-moz-focus-inner { border: 0; }



.custom-dropdown.black{
	border:1px solid #000;
}
.custom-dropdown.black select {
	background-color: transparent !important;
	border-radius:0;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  content: "\f0d7";
  height: 1em;
  font-size: 25px;
  right: .5em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 1em;
  right: 0;
  top: 0;
  bottom: 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::after {
  color: #000;
}


.custom-dropdown.triple_date select{
	padding: 0;
	width: 135%;
}
.custom-dropdown.triple_date::after {
	display:none;
}
/* End Custom dropdown */



.custom_date_border span:after {
    background: none repeat scroll 0 0 #000;
  content: "";
  display: inline-block !important;
  float: right;
  font-family: arial;
  height: 13px;
  margin-left: -2px;
  margin-top: -5px;
  position: absolute;
  right: 9px;
  width: 1px;
  z-index: 10;
}





.search_options{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px ;
	color: #fff;
	text-shadow: none;
	text-align: right;
	margin-bottom:10px;
}
.search_options .fa{
	font-size:16px;
}
.search_options:hover, .search_options:focus{
	text-decoration:underline;
}
.search_options:focus{
	text-decoration:none;
}

.custom_form .radio-inline, .custom_form .checkbox-inline.long_white{
	margin-bottom:10px;
}
.custom_form .passanger{
	margin-bottom:0px;
	padding-top:8px;
}
.check.border{
	border: 1px solid #000;
}
.long_white .check{
	border: 1px solid #000;
	float:right;
	width:15px;
	height:15px;
	margin-right:15px;
	margin-top:5px;
}
.radio-inline.long_white{
	width:100%;
	background-color:#fff;
	color:#000;
	padding-bottom:7px;
	padding-left:10px;
	height:40px;
	line-height:25px;
}

.flight_title.first{
	margin-top:0px !important;
}
.flight_title{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff !important;
	text-align:left;
	margin-top:10px;
	margin-bottom:5px;
	text-align:left !important;
}
.account_title{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff !important;
	text-align:left;
	margin-top:10px;
}

.number_of_flights_container{
	width:100%;
	height:40px;
	background-color:#fff;
	color:#000;
	padding-left:10px;
	padding-top:6px;
	text-align:left;
}
.number_of_flights_container .title{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color:#000;
	padding-top:3px;
	margin-right:10px;
}
.number_of_flights_container .radio-inline{
	padding-top:5px;
	color:#000;
}
.number_of_flights_container .radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
	margin-left:10px;
}
.number_of_flights_container .check{
	margin-right:0px;
}

/*-----------------------------------------------------------------------------------*/

/* Dialogs

/*-----------------------------------------------------------------------------------*/

.customDialog {
	background-color:rgba(0,0,0,0.7);
}
.customDialog .ui-dialog-titlebar {display:none;}
.customDialog label {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.dialog-header{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size:22px;
}
.dialog-header a{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size:22px;
}






.options_list{
	width:100%;display:block;
}