/* icons */
[class^="flag-"],
[class*=" flag-"] {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  /*vertical-align: text-top;*/
  background-image: url("../../icons/flag-icons.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="flag-"]:last-child,
[class*=" flag-"]:last-child {
  *margin-left: 0;
}

/* icons code below */
.flag-ad{ background-position: 0 0; width: 16px; height: 11px; }
.flag-ae{ background-position: -21px 0; width: 16px; height: 11px; }
.flag-af{ background-position: -42px 0; width: 16px; height: 11px; }
.flag-ag{ background-position: -63px 0; width: 16px; height: 11px; }
.flag-ai{ background-position: -84px 0; width: 16px; height: 11px; }
.flag-al{ background-position: -105px 0; width: 16px; height: 11px; }
.flag-am{ background-position: -126px 0; width: 16px; height: 11px; }
.flag-an{ background-position: -147px 0; width: 16px; height: 11px; }
.flag-ao{ background-position: -168px 0; width: 16px; height: 11px; }
.flag-ar{ background-position: -189px 0; width: 16px; height: 11px; }
.flag-as{ background-position: -210px 0; width: 16px; height: 11px; }
.flag-at{ background-position: -231px 0; width: 16px; height: 11px; }
.flag-au{ background-position: -252px 0; width: 16px; height: 11px; }
.flag-aw{ background-position: -273px 0; width: 16px; height: 11px; }
.flag-ax{ background-position: -294px 0; width: 16px; height: 11px; }
.flag-az{ background-position: -315px 0; width: 16px; height: 11px; }
.flag-ba{ background-position: -336px 0; width: 16px; height: 11px; }
.flag-bb{ background-position: -357px 0; width: 16px; height: 11px; }
.flag-bd{ background-position: -378px 0; width: 16px; height: 11px; }
.flag-be{ background-position: -399px 0; width: 16px; height: 11px; }
.flag-bf{ background-position: -420px 0; width: 16px; height: 11px; }
.flag-bg{ background-position: -441px 0; width: 16px; height: 11px; }
.flag-bh{ background-position: -462px 0; width: 16px; height: 11px; }
.flag-bi{ background-position: -483px 0; width: 16px; height: 11px; }
.flag-bj{ background-position: -504px 0; width: 16px; height: 11px; }
.flag-bm{ background-position: -525px 0; width: 16px; height: 11px; }
.flag-bn{ background-position: -546px 0; width: 16px; height: 11px; }
.flag-bo{ background-position: -567px 0; width: 16px; height: 11px; }
.flag-br{ background-position: -588px 0; width: 16px; height: 11px; }
.flag-bs{ background-position: -609px 0; width: 16px; height: 11px; }
.flag-bt{ background-position: -630px 0; width: 16px; height: 11px; }
.flag-bv{ background-position: -651px 0; width: 16px; height: 11px; }
.flag-bw{ background-position: -672px 0; width: 16px; height: 11px; }
.flag-by{ background-position: -693px 0; width: 16px; height: 11px; }
.flag-bz{ background-position: -714px 0; width: 16px; height: 11px; }
.flag-ca{ background-position: -735px 0; width: 16px; height: 11px; }
.flag-catalonia{ background-position: -756px 0; width: 16px; height: 11px; }
.flag-cc{ background-position: -777px 0; width: 16px; height: 11px; }
.flag-cd{ background-position: -798px 0; width: 16px; height: 11px; }
.flag-cf{ background-position: -819px 0; width: 16px; height: 11px; }
.flag-cg{ background-position: -840px 0; width: 16px; height: 11px; }
.flag-ch{ background-position: -861px 0; width: 11px; height: 11px; }
.flag-ci{ background-position: -877px 0; width: 16px; height: 11px; }
.flag-ck{ background-position: -898px 0; width: 16px; height: 11px; }
.flag-cl{ background-position: -919px 0; width: 16px; height: 11px; }
.flag-cm{ background-position: -940px 0; width: 16px; height: 11px; }
.flag-cn{ background-position: -961px 0; width: 16px; height: 11px; }
.flag-co{ background-position: -982px 0; width: 16px; height: 11px; }
.flag-cr{ background-position: -1003px 0; width: 16px; height: 11px; }
.flag-cs{ background-position: -1024px 0; width: 16px; height: 11px; }
.flag-cu{ background-position: -1045px 0; width: 16px; height: 11px; }
.flag-cv{ background-position: -1066px 0; width: 16px; height: 11px; }
.flag-cx{ background-position: -1087px 0; width: 16px; height: 11px; }
.flag-cy{ background-position: -1108px 0; width: 16px; height: 11px; }
.flag-cz{ background-position: -1129px 0; width: 16px; height: 11px; }
.flag-de{ background-position: -1150px 0; width: 16px; height: 11px; }
.flag-dj{ background-position: -1171px 0; width: 16px; height: 11px; }
.flag-dk{ background-position: -1192px 0; width: 16px; height: 11px; }
.flag-dm{ background-position: -1213px 0; width: 16px; height: 11px; }
.flag-do{ background-position: -1234px 0; width: 16px; height: 11px; }
.flag-dz{ background-position: -1255px 0; width: 16px; height: 11px; }
.flag-ec{ background-position: -1276px 0; width: 16px; height: 11px; }
.flag-ee{ background-position: -1297px 0; width: 16px; height: 11px; }
.flag-eg{ background-position: -1318px 0; width: 16px; height: 11px; }
.flag-eh{ background-position: -1339px 0; width: 16px; height: 11px; }
.flag-england{ background-position: -1360px 0; width: 16px; height: 11px; }
.flag-en{ background-position: -1360px 0; width: 16px; height: 11px; }
.flag-er{ background-position: -1381px 0; width: 16px; height: 11px; }
.flag-es{ background-position: -1402px 0; width: 16px; height: 11px; }
.flag-et{ background-position: -1423px 0; width: 16px; height: 11px; }
.flag-europeanunion{ background-position: -1444px 0; width: 16px; height: 11px; }
.flag-fam{ background-position: -1465px 0; width: 16px; height: 11px; }
.flag-fi{ background-position: -1486px 0; width: 16px; height: 11px; }
.flag-fj{ background-position: -1507px 0; width: 16px; height: 11px; }
.flag-fk{ background-position: -1528px 0; width: 16px; height: 11px; }
.flag-fm{ background-position: -1549px 0; width: 16px; height: 11px; }
.flag-fo{ background-position: -1570px 0; width: 16px; height: 11px; }
.flag-fr{ background-position: -1591px 0; width: 16px; height: 11px; }
.flag-ga{ background-position: -1612px 0; width: 16px; height: 11px; }
.flag-gb{ background-position: -1633px 0; width: 16px; height: 11px; }
.flag-gd{ background-position: -1654px 0; width: 16px; height: 11px; }
.flag-ge{ background-position: -1675px 0; width: 16px; height: 11px; }
.flag-gf{ background-position: -1696px 0; width: 16px; height: 11px; }
.flag-gh{ background-position: -1717px 0; width: 16px; height: 11px; }
.flag-gi{ background-position: -1738px 0; width: 16px; height: 11px; }
.flag-gl{ background-position: -1759px 0; width: 16px; height: 11px; }
.flag-gm{ background-position: -1780px 0; width: 16px; height: 11px; }
.flag-gn{ background-position: -1801px 0; width: 16px; height: 11px; }
.flag-gp{ background-position: -1822px 0; width: 16px; height: 11px; }
.flag-gq{ background-position: -1843px 0; width: 16px; height: 11px; }
.flag-gr{ background-position: -1864px 0; width: 16px; height: 11px; }
.flag-gs{ background-position: -1885px 0; width: 16px; height: 11px; }
.flag-gt{ background-position: -1906px 0; width: 16px; height: 11px; }
.flag-gu{ background-position: -1927px 0; width: 16px; height: 11px; }
.flag-gw{ background-position: -1948px 0; width: 16px; height: 11px; }
.flag-gy{ background-position: -1969px 0; width: 16px; height: 11px; }
.flag-hk{ background-position: -1990px 0; width: 16px; height: 11px; }
.flag-hm{ background-position: 0 -16px; width: 16px; height: 11px; }
.flag-hn{ background-position: -21px -16px; width: 16px; height: 11px; }
.flag-hr{ background-position: -42px -16px; width: 16px; height: 11px; }
.flag-ht{ background-position: -63px -16px; width: 16px; height: 11px; }
.flag-hu{ background-position: -84px -16px; width: 16px; height: 11px; }
.flag-id{ background-position: -105px -16px; width: 16px; height: 11px; }
.flag-ie{ background-position: -126px -16px; width: 16px; height: 11px; }
.flag-il{ background-position: -147px -16px; width: 16px; height: 11px; }
.flag-in{ background-position: -168px -16px; width: 16px; height: 11px; }
.flag-io{ background-position: -189px -16px; width: 16px; height: 11px; }
.flag-iq{ background-position: -210px -16px; width: 16px; height: 11px; }
.flag-ir{ background-position: -231px -16px; width: 16px; height: 11px; }
.flag-is{ background-position: -252px -16px; width: 16px; height: 11px; }
.flag-it{ background-position: -273px -16px; width: 16px; height: 11px; }
.flag-jm{ background-position: -294px -16px; width: 16px; height: 11px; }
.flag-jo{ background-position: -315px -16px; width: 16px; height: 11px; }
.flag-jp{ background-position: -336px -16px; width: 16px; height: 11px; }
.flag-ke{ background-position: -357px -16px; width: 16px; height: 11px; }
.flag-kg{ background-position: -378px -16px; width: 16px; height: 11px; }
.flag-kh{ background-position: -399px -16px; width: 16px; height: 11px; }
.flag-ki{ background-position: -420px -16px; width: 16px; height: 11px; }
.flag-km{ background-position: -441px -16px; width: 16px; height: 11px; }
.flag-kn{ background-position: -462px -16px; width: 16px; height: 11px; }
.flag-kp{ background-position: -483px -16px; width: 16px; height: 11px; }
.flag-kr{ background-position: -504px -16px; width: 16px; height: 11px; }
.flag-kw{ background-position: -525px -16px; width: 16px; height: 11px; }
.flag-ky{ background-position: -546px -16px; width: 16px; height: 11px; }
.flag-kz{ background-position: -567px -16px; width: 16px; height: 11px; }
.flag-la{ background-position: -588px -16px; width: 16px; height: 11px; }
.flag-lb{ background-position: -609px -16px; width: 16px; height: 11px; }
.flag-lc{ background-position: -630px -16px; width: 16px; height: 11px; }
.flag-li{ background-position: -651px -16px; width: 16px; height: 11px; }
.flag-lk{ background-position: -672px -16px; width: 16px; height: 11px; }
.flag-lr{ background-position: -693px -16px; width: 16px; height: 11px; }
.flag-ls{ background-position: -714px -16px; width: 16px; height: 11px; }
.flag-lt{ background-position: -735px -16px; width: 16px; height: 11px; }
.flag-lu{ background-position: -756px -16px; width: 16px; height: 11px; }
.flag-lv{ background-position: -777px -16px; width: 16px; height: 11px; }
.flag-ly{ background-position: -798px -16px; width: 16px; height: 11px; }
.flag-ma{ background-position: -819px -16px; width: 16px; height: 11px; }
.flag-mc{ background-position: -840px -16px; width: 16px; height: 11px; }
.flag-md{ background-position: -861px -16px; width: 16px; height: 11px; }
.flag-me{ background-position: -882px -16px; width: 16px; height: 12px; }
.flag-mg{ background-position: -903px -16px; width: 16px; height: 11px; }
.flag-mh{ background-position: -924px -16px; width: 16px; height: 11px; }
.flag-mk{ background-position: -945px -16px; width: 16px; height: 11px; }
.flag-ml{ background-position: -966px -16px; width: 16px; height: 11px; }
.flag-mm{ background-position: -987px -16px; width: 16px; height: 11px; }
.flag-mn{ background-position: -1008px -16px; width: 16px; height: 11px; }
.flag-mo{ background-position: -1029px -16px; width: 16px; height: 11px; }
.flag-mp{ background-position: -1050px -16px; width: 16px; height: 11px; }
.flag-mq{ background-position: -1071px -16px; width: 16px; height: 11px; }
.flag-mr{ background-position: -1092px -16px; width: 16px; height: 11px; }
.flag-ms{ background-position: -1113px -16px; width: 16px; height: 11px; }
.flag-mt{ background-position: -1134px -16px; width: 16px; height: 11px; }
.flag-mu{ background-position: -1155px -16px; width: 16px; height: 11px; }
.flag-mv{ background-position: -1176px -16px; width: 16px; height: 11px; }
.flag-mw{ background-position: -1197px -16px; width: 16px; height: 11px; }
.flag-mx{ background-position: -1218px -16px; width: 16px; height: 11px; }
.flag-my{ background-position: -1239px -16px; width: 16px; height: 11px; }
.flag-mz{ background-position: -1260px -16px; width: 16px; height: 11px; }
.flag-na{ background-position: -1281px -16px; width: 16px; height: 11px; }
.flag-nc{ background-position: -1302px -16px; width: 16px; height: 11px; }
.flag-ne{ background-position: -1323px -16px; width: 16px; height: 11px; }
.flag-nf{ background-position: -1344px -16px; width: 16px; height: 11px; }
.flag-ng{ background-position: -1365px -16px; width: 16px; height: 11px; }
.flag-ni{ background-position: -1386px -16px; width: 16px; height: 11px; }
.flag-nl{ background-position: -1407px -16px; width: 16px; height: 11px; }
.flag-no{ background-position: -1428px -16px; width: 16px; height: 11px; }
.flag-np{ background-position: -1449px -16px; width: 9px; height: 11px; }
.flag-nr{ background-position: -1463px -16px; width: 16px; height: 11px; }
.flag-nu{ background-position: -1484px -16px; width: 16px; height: 11px; }
.flag-nz{ background-position: -1505px -16px; width: 16px; height: 11px; }
.flag-om{ background-position: -1526px -16px; width: 16px; height: 11px; }
.flag-pa{ background-position: -1547px -16px; width: 16px; height: 11px; }
.flag-pe{ background-position: -1568px -16px; width: 16px; height: 11px; }
.flag-pf{ background-position: -1589px -16px; width: 16px; height: 11px; }
.flag-pg{ background-position: -1610px -16px; width: 16px; height: 11px; }
.flag-ph{ background-position: -1631px -16px; width: 16px; height: 11px; }
.flag-pk{ background-position: -1652px -16px; width: 16px; height: 11px; }
.flag-pl{ background-position: -1673px -16px; width: 16px; height: 11px; }
.flag-pm{ background-position: -1694px -16px; width: 16px; height: 11px; }
.flag-pn{ background-position: -1715px -16px; width: 16px; height: 11px; }
.flag-pr{ background-position: -1736px -16px; width: 16px; height: 11px; }
.flag-ps{ background-position: -1757px -16px; width: 16px; height: 11px; }
.flag-pt{ background-position: -1778px -16px; width: 16px; height: 11px; }
.flag-pw{ background-position: -1799px -16px; width: 16px; height: 11px; }
.flag-py{ background-position: -1820px -16px; width: 16px; height: 11px; }
.flag-qa{ background-position: -1841px -16px; width: 16px; height: 11px; }
.flag-re{ background-position: -1862px -16px; width: 16px; height: 11px; }
.flag-ro{ background-position: -1883px -16px; width: 16px; height: 11px; }
.flag-rs{ background-position: -1904px -16px; width: 16px; height: 11px; }
.flag-ru{ background-position: -1925px -16px; width: 16px; height: 11px; }
.flag-rw{ background-position: -1946px -16px; width: 16px; height: 11px; }
.flag-sa{ background-position: -1967px -16px; width: 16px; height: 11px; }
.flag-sb{ background-position: -1988px -16px; width: 16px; height: 11px; }
.flag-sc{ background-position: 0 -33px; width: 16px; height: 11px; }
.flag-scotland{ background-position: -21px -33px; width: 16px; height: 11px; }
.flag-sd{ background-position: -42px -33px; width: 16px; height: 11px; }
.flag-se{ background-position: -63px -33px; width: 16px; height: 11px; }
.flag-sg{ background-position: -84px -33px; width: 16px; height: 11px; }
.flag-sh{ background-position: -105px -33px; width: 16px; height: 11px; }
.flag-si{ background-position: -126px -33px; width: 16px; height: 11px; }
.flag-sj{ background-position: -147px -33px; width: 16px; height: 11px; }
.flag-sk{ background-position: -168px -33px; width: 16px; height: 11px; }
.flag-sl{ background-position: -189px -33px; width: 16px; height: 11px; }
.flag-sm{ background-position: -210px -33px; width: 16px; height: 11px; }
.flag-sn{ background-position: -231px -33px; width: 16px; height: 11px; }
.flag-so{ background-position: -252px -33px; width: 16px; height: 11px; }
.flag-sr{ background-position: -273px -33px; width: 16px; height: 11px; }
.flag-st{ background-position: -294px -33px; width: 16px; height: 11px; }
.flag-sv{ background-position: -315px -33px; width: 16px; height: 11px; }
.flag-sy{ background-position: -336px -33px; width: 16px; height: 11px; }
.flag-sz{ background-position: -357px -33px; width: 16px; height: 11px; }
.flag-tc{ background-position: -378px -33px; width: 16px; height: 11px; }
.flag-td{ background-position: -399px -33px; width: 16px; height: 11px; }
.flag-tf{ background-position: -420px -33px; width: 16px; height: 11px; }
.flag-tg{ background-position: -441px -33px; width: 16px; height: 11px; }
.flag-th{ background-position: -462px -33px; width: 16px; height: 11px; }
.flag-tj{ background-position: -483px -33px; width: 16px; height: 11px; }
.flag-tk{ background-position: -504px -33px; width: 16px; height: 11px; }
.flag-tl{ background-position: -525px -33px; width: 16px; height: 11px; }
.flag-tm{ background-position: -546px -33px; width: 16px; height: 11px; }
.flag-tn{ background-position: -567px -33px; width: 16px; height: 11px; }
.flag-to{ background-position: -588px -33px; width: 16px; height: 11px; }
.flag-tr{ background-position: -609px -33px; width: 16px; height: 11px; }
.flag-tt{ background-position: -630px -33px; width: 16px; height: 11px; }
.flag-tv{ background-position: -651px -33px; width: 16px; height: 11px; }
.flag-tw{ background-position: -672px -33px; width: 16px; height: 11px; }
.flag-tz{ background-position: -693px -33px; width: 16px; height: 11px; }
.flag-ua{ background-position: -714px -33px; width: 16px; height: 11px; }
.flag-ug{ background-position: -735px -33px; width: 16px; height: 11px; }
.flag-um{ background-position: -756px -33px; width: 16px; height: 11px; }
.flag-us{ background-position: -777px -33px; width: 16px; height: 11px; }
.flag-uy{ background-position: -798px -33px; width: 16px; height: 11px; }
.flag-uz{ background-position: -819px -33px; width: 16px; height: 11px; }
.flag-va{ background-position: -840px -33px; width: 16px; height: 11px; }
.flag-vc{ background-position: -861px -33px; width: 16px; height: 11px; }
.flag-ve{ background-position: -882px -33px; width: 16px; height: 11px; }
.flag-vg{ background-position: -903px -33px; width: 16px; height: 11px; }
.flag-vi{ background-position: -924px -33px; width: 16px; height: 11px; }
.flag-vn{ background-position: -945px -33px; width: 16px; height: 11px; }
.flag-vu{ background-position: -966px -33px; width: 16px; height: 11px; }
.flag-wales{ background-position: -987px -33px; width: 16px; height: 11px; }
.flag-wf{ background-position: -1008px -33px; width: 16px; height: 11px; }
.flag-ws{ background-position: -1029px -33px; width: 16px; height: 11px; }
.flag-ye{ background-position: -1050px -33px; width: 16px; height: 11px; }
.flag-yt{ background-position: -1071px -33px; width: 16px; height: 11px; }
.flag-za{ background-position: -1092px -33px; width: 16px; height: 11px; }
.flag-zm{ background-position: -1113px -33px; width: 16px; height: 11px; }
.flag-zw{ background-position: -1134px -33px; width: 16px; height: 11px; }

